@if (comandaService.totalArticulos() > 0) {
  <div class="pildora-flotante animar-deslizar-arriba" (click)="irALaComanda()">
    <div class="info-izquierda">
      <div class="circulo-cantidad">
        <span>{{ comandaService.totalArticulos() }}</span>
      </div>
      <span class="texto-ver-comanda">Ver Comanda</span>
    </div>
    <div class="info-derecha">
      <span class="subtotal">{{ comandaService.subtotalComanda() | currency:'EUR':'symbol':'1.2-2':'es' }}</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
}
