<ion-content [fullscreen]="true" class="contenido-elegante">
  <div class="fondo-malla">
    <div class="forma-malla forma-1"></div>
    <div class="forma-malla forma-2"></div>
  </div>

  <div class="contenedor-registro">
    <div class="panel-cristal">

      <div class="seccion-cabecera">
        <div class="marca-logo">
          <ion-icon name="restaurant-outline"></ion-icon>
        </div>
        <h1>Bienvenido a <strong>Trace</strong></h1>
        <p>Tu seguridad alimentaria es lo primero.</p>
      </div>

      <div class="seccion-formulario aparicion">
        <div class="envoltorio-campo">
          <ion-icon name="person-outline" class="icono-campo"></ion-icon>
          <input type="text" placeholder="¿Cómo te llamas?" [(ngModel)]="nombre" class="campo-elegante">
        </div>

        <div class="envoltorio-campo mt-4" [class.qr-bloqueado]="mesaDesdeQR">
          <ion-icon [name]="mesaDesdeQR ? 'lock-closed-outline' : 'scan-outline'" class="icono-campo"></ion-icon>
          <input type="number"
            placeholder="ID de la Mesa"
            [(ngModel)]="mesaId"
            class="campo-elegante"
            [readonly]="mesaDesdeQR">
          @if (mesaDesdeQR) {
            <span class="insignia-qr">
              <ion-icon name="qr-code-outline"></ion-icon>
              Mesa asignada
            </span>
          }
        </div>
      </div>

      <div class="seccion-alergenos aparicion-retardo-1">
        <div class="cabecera-seccion">
          <div class="punto-latido"></div>
          <p class="titulo-seccion">Perfil Médico</p>
        </div>
        <p class="subtitulo-seccion">Selecciona tus alergias para filtrar la carta con total seguridad.</p>

        <div class="cuadricula-alergenos">
          @for (item of alergenos; track item) {
            <div
              class="elemento-alergeno"
              [class.activo]="item.activo"
              (click)="toggleAlergeno(item.id)">
              <div class="contenedor-icono">
                @if (!item.esSvg) {
                  <ion-icon [name]="item.icono"></ion-icon>
                }
                @if (item.esSvg) {
                  <ion-icon [src]="item.icono"></ion-icon>
                }
              </div>
              <span>{{ item.nombre }}</span>
            </div>
          }
        </div>
      </div>

      <div class="seccion-accion aparicion-retardo-2">
        <button class="btn-primario-elegante" (click)="acceder()">
          <span>Comenzar Experiencia</span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </button>
      </div>

    </div>
  </div>

</ion-content>
