<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ tituloPagina }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ tituloPagina }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>¡Bienvenido a tu Sistema de Comandas!</strong>
    <p>Empieza configurando tus platos y alérgenos en el menú de gestión.</p>
  </div>
</ion-content>
