<ion-content class="landing-fondo">
  <div class="circulo-blur-1"></div>
  <div class="circulo-blur-2"></div>

  <div class="landing-container">
    <header class="landing-header">
      <h1 class="logo-trace">Trace<span>.</span></h1>
      <p class="subtitulo">{{ 'LANDING.TITULO' | translate }}</p>
    </header>

    <main class="landing-opciones">
      <!-- Opción Comensal -->
      <a routerLink="/check-in" class="tarjeta-rol tarjeta-comensal">
        <div class="icono-wrapper">
          <ion-icon name="restaurant-outline"></ion-icon>
        </div>
        <div class="contenido-rol">
          <h2>{{ 'LANDING.COMENSAL.TITULO' | translate }}</h2>
          <p>{{ 'LANDING.COMENSAL.DESC' | translate }}</p>
        </div>
        <ion-icon name="log-in-outline" class="flecha-entrar"></ion-icon>
      </a>

      <!-- Opción Encargado de Sala -->
      <a routerLink="/admin/panel-pedidos" class="tarjeta-rol tarjeta-staff">
        <div class="icono-wrapper">
          <ion-icon name="shield-checkmark-outline"></ion-icon>
        </div>
        <div class="contenido-rol">
          <h2>{{ 'LANDING.SALA.TITULO' | translate }}</h2>
          <p>{{ 'LANDING.SALA.DESC' | translate }}</p>
        </div>
        <ion-icon name="log-in-outline" class="flecha-entrar"></ion-icon>
      </a>

      <!-- Opción Barman -->
      <a routerLink="/admin/barra" class="tarjeta-rol tarjeta-barra">
        <div class="icono-wrapper">
          <ion-icon name="beer-outline"></ion-icon>
        </div>
        <div class="contenido-rol">
          <h2>{{ 'LANDING.BARMAN.TITULO' | translate }}</h2>
          <p>{{ 'LANDING.BARMAN.DESC' | translate }}</p>
        </div>
        <ion-icon name="log-in-outline" class="flecha-entrar"></ion-icon>
      </a>

      <!-- Opción Cocina -->
      <a routerLink="/admin/cocina" class="tarjeta-rol tarjeta-cocina">
        <div class="icono-wrapper">
          <ion-icon name="flame-outline"></ion-icon>
        </div>
        <div class="contenido-rol">
          <h2>{{ 'LANDING.COCINA.TITULO' | translate }}</h2>
          <p>{{ 'LANDING.COCINA.DESC' | translate }}</p>
        </div>
        <ion-icon name="log-in-outline" class="flecha-entrar"></ion-icon>
      </a>
    </main>

    <footer class="landing-footer">

    </footer>
  </div>
</ion-content>